@media only screen and (max-width: 1200px) {
  header .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .section-steps .steps-box {
    margin-top: 10px;
  }
  .section-steps .works-step {
    margin-bottom: 40px;
  }
  .section-steps .works-step:last-of-type {
    margin-bottom: 60px;
  }
  .section-steps .app-screen {
    width: 50%;
  }
  .section-cities .box .city-feature {
    font-size: 90%;
  }
  .section-plans .plan-box {
    width: 100%;
    margin-left: 0;
  }
  .section-plans .plan-box .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .main-nav {
    display: none;
  }
  .mobile-nav-icon {
    display: inline-block;
  }

  .main-nav {
    float: left;
    margin-top: 30px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  .sticky .main-nav {
    margin-top: 10px;
  }
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
  }
  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }
  .sticky .mobile-nav-icon i {
    color: #555;
  }
  header .hero-text-box,
  .row {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0;
  }
  .section-steps .app-screen {
    width: 40%;
  }
  .section-steps .steps-box:first-child {
    text-align: center;
  }
  .section-steps .works-step div {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    padding: 4px;
    font-size: 120%;
  }
  .section-steps .works-step {
    margin-bottom: 20px;
  }
  .section-steps .works-step:last-of-type {
    margin-bottom: 20px;
  }
  footer .footer-nav {
    float: none;
    text-align: center;
    font-size: 140%;
  }
  footer .social-links {
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}
